/*
font-family: 'Arimo', sans-serif;
font-family: 'Gravitas One', serif;
*/

body {
    background-color: #CFDCFF;
    font-family: 'Arimo', sans-serif;
    color:#92400e
}

h1 {
    font-family: 'Lilita One', sans-serif; 
    color: #c65272;
}

h2 {
    font-family: 'Gravitas One', serif;
    color: #ffdd27
}

.header {
    background-color: #8fbeff;
}

.header {
  position: sticky;
top: 50px; left: 50px; }

.box {
    display: flex;
    align-items: right;
    gap: 2rem;
}

main {
    display: flex;
    gap: 3rem;
}

.bloc1 {
position: relative;
top: -50px; 
display: flex;
flex-direction: column;
justify-content: space-around;
 }

.bloc2 {
    position: relative;
    top: -50;

}

.competences ul {
    background-color: #ffa975;
    padding: 1rem;
}

.qualifications ul {
    background-color: #ffb5b5;
    padding: 1rem;
}

.formations ul {
    background-color: #ffe3e3;
}

.formations h2  {
    color:#103f80
}
.formations  {
    color:#645289
}

.experiences ul {
    background-color: #f8e493;
}

section.experiences h2 {
    color:#103f80
}

.experiences  {
    color:#0045a4

}

.centres ul {
    background-color: #8fbeff;
    padding: 1rem;
}

section.centres h2 {
    color:#103f80
}

.centres  {
    color:#ad5118
}

ul { list-style-type: none;}