/*
font-family: 'Arimo', sans-serif;
font-family: 'Gravitas One', serif;
*/

body {
    background-color: #CFDCFF;
    font-family: 'Arimo', sans-serif;
    color:#92400e
}

h1 {
    font-family: 'Lilita One', sans-serif; 
    color: #c65272;
}

h2 {
    font-family: 'Gravitas One', serif;
    color: #f55d00
}

.premier {
    background-color: #8fbeff;
}

.box {
    display: flex;
    align-items: right;
    gap: 2rem;
}

main {
    display: flex;
    gap: 3rem;
}

.bloc1 {
position: relative;
top: -50px;
}

.bloc2 {
    position: relative;
    top: -50px;
}

.profil {
    position: relative;
    top: 150px;
}

.competences {
    position: relative;
    top: 300px;
}

.competences ul {
    background-color: #ffa975;
    padding: 1rem;
}

.qualifications ul {
    background-color: #ffb5b5;
    padding: 1rem;
}

.qualifications {
    position: relative;
    top: 600px;
}

.formations ul {
    background-color: #ffe3e3;
    padding: 1rem;
}

.formations h2  {
    color:#103f80
}
.formations  {
    position: relative;
    top: 50px;
    color:#645289
}

.experiences ul {
    background-color: #f8e493;
    padding: 1rem;
}

section.experiences h2 {
    color:#103f80
}

.experiences  {
    color:#0045a4

}

.centres ul {
    background-color: #8fbeff;
    padding: 1rem;
}

section.centres h2 {
    color:#103f80
}

.centres  {
    color:#ad5118
}

ul { list-style-type: none;}

.projet {
    position: relative;
    top: 700px;
}

.peinture {
    position: relative;
    top: 750px;
}

.travaux {
    position: relative;
    top: 800px;
}

.photographie {
    position: relative;
    top: 130px;
}

.nuit {
    position: relative;
    top: 150px;
}

.jour {
    position: relative;
    top: 180px;
}